<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="OutputUrlCount" value="500"/>
    <add key="OutputFile" value="sitelist.txt"/>
    <add key="SeedFile" value="seed_url.txt"/>
    <add key="MaxDepth" value="2"/>

    <add key="ConnectionSleep" value="100"/>
    <add key="ConnectionTimeout" value="5000"/>
    <add key="ConnectionRetry" value="10"/>
    <!--<add key="ConnectionProxy" value="157.78.32.243:8080"/>-->

  </appSettings>
</configuration>
